<h2>Log in</h2>
<div class='form-input'>
  <p class='bad-input'>Username/password combo not found</p>
  <form action='/players/login' method='post'>
    <label>Name
      <input type='text' name='username'>
    </label>
    <label>Password
      <input type='password' name='password'>
    </label>
    <input type='submit' value='Log In'>
    <a href="/" class='cancel'>Cancel</a>
  </form>
</div>