<h2>New Player</h2>
<div class='form-input'>
  <form action='/players/new' method='post'>
    <label>Name
      <input type='text' name='username' placeholder='Name'>
    </label>
    <label>Password
      <input type='password' name='password' placeholder='Password'>
    </label>
    <input type='submit' value='Create'>
    <a href="/" class='cancel'>Cancel</a>
  </form>
</div>