<h2>Welcome <%= @player.name %></h2>
<ul>
  <li><a href="/players/<%= @player.id %>/games/new">New Game</a></li>
  <li><a href="/players/<%= @player.id %>/games/existing">Resume Game</a></li>
  <li><a href="/players/<%= @player.id %>/records">View Records</a></li>
</ul>