<!DOCTYPE html>

<html>
  <head>
    <title>NCL Battleship</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <div class='logo'></div>
      <h1>Battleship</h1>
    </header>
    <div class='main'>
      <%= yield %>
    </div>
  </body>
</html>