<!DOCTYPE html>

<html>
  <head>
    <title>NCL Battleship</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <div class='title'>
        <div class='logo'></div>
        <h1>Battleship</h1>
      </div>
      <div class='clear'></div>
    </header>
    <div class='main'>
      <%= yield %>
    </div>
    <footer>
      <div class='signature'>© NCL</div>
    </footer>
  </body>
</html>