body{
  font-family: sans-serif;
}

.game-board{
  width: 360px;
  height: 360px;
  div{
    float: left;
    width: 20px;
    height: 20px;
    border-bottom: 1px white solid;
    border-right: 1px white solid;
  }
  .cell-ship{
    background-color: rgb(255, 0, 0);
  }
  .cell-hit{
    background-color: rgb(0, 0, 255);
  }
  .cell-untouched{
    background-color: rgb(0, 0, 0);
  }
  .x-coord{
    text-align: right;
  }
  .clear{
    clear: both;
    width: 0px;
    height: 0px;
    border: none;
  }
}

