body{
  font-family: sans-serif;
}

header{
  text-align: center;
}

.main{
  max-width: 600px;
  margin: 0 auto;
  h2, h3{
    text-align: center;
  }
}

ul li{
  list-style: none;
}

.game-board{
  margin: 0 auto;
  padding-left: 31px;
  div{
    float: left;
    width: 30px;
    height: 30px;
    border-bottom: 1px white solid;
    border-right: 1px white solid;
  }
  .cell-ship{
    background-color: rgb(255, 0, 0);
  }
  .cell-hit{
    background-color: rgb(0, 0, 255);
  }
  .cell-untouched{
    background-color: rgb(0, 0, 0);
  }
  .x-coord{
    text-align: right;
  }
  .clear{
    clear: both;
    width: 0px;
    height: 0px;
    border: none;
  }
}

.bad-input{
  color: red;
}
